$primary-color: #1c584a;

$header-gradient: linear-gradient(#444444, #222222);
$header-active-gradient: linear-gradient(lighten($primary-color, 8%), darken($primary-color, 8%));
$header-hover-gradient: linear-gradient(lighten($primary-color, 16%), $primary-color);
$footer-gradient: linear-gradient(#000000, #000000);

$empty-background: repeating-linear-gradient(
                135deg,
                #060606,
                #060606 10px,
                #000000 10px,
                #000000 20px
);
$empty-background-light: repeating-linear-gradient(
                135deg,
                #161616,
                #161616 10px,
                #000000 10px,
                #000000 20px
);
$empty-background-highlight: repeating-linear-gradient(
                135deg,
                $primary-color,
                $primary-color 10px,
                darken($primary-color, 8%) 10px,
                darken($primary-color, 8%) 20px
);